/*
filename: styles.css
author: Minjin Kim
created: 09/04/2025
last modified: 09/04/2025 by Minjin
description: apply.html
*/

/* font */
*{
    font-family: outfit, Arial;
}

/* body */
h1 {
    width: auto;
    height: 235px;
    background-image: url("../images/banner.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    padding: 2rem;
    display: flex; /* Align items in a row */
    align-items: flex-end; /* Vertically center the items */
    justify-content: flex-start; /* Optional, to space out the items */
    flex-wrap: wrap;

    color: #F7F6FF;
    margin: 0 auto;
    
}

header h1{
    color: #f7f6ff;
    align-self: flex-end;
}

fieldset {
    border: none;
    border-bottom: 1px solid #ccc; 
    padding: 1em 0;
    margin: 1em 0;
}

#jobNum {
    width: 285px;      
    height: 35px;   
    margin-top: 20px;  
}

#firstName, #lastName{
    width: 205px;      
    height: 35px;   
    margin-top: 20px; 
}

#applicationDetails{
    display: flex; gap: 20px;
}

#applicationDetails span{
    display: flex; flex-direction: column;
}

input[type=submit]{
    color: #F7F6FF;
    font-size: 1.5em;
    background-color: #539ff5;
    width: 200px;
    height: 50px;
    border: none;
    outline: none;
}

input[type=submit]:hover{
    background-color: #2764b4;
}